@if $buttonObject {
/**
 * _btn.scss
 *
 * Author: Marian Friedmann
 *
 * Usage:
 * <a class="btn [btn--secondary]" href="#">btn</a>
 * <input type="text" class="btn">
 * <button class="btn">btn</button>
 */

.btn {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  line-height: $baseLineHeight*2;
  display: inline-block;
  margin: 0;
  user-select: none;

  /* Cosmetics */
  padding: 0em $baseUnit;
  color: #fff;
  font-weight: bold;
  background-color: $colorLink;
}

.btn:hover{
  background-color: $colorLinkHover;
  color: #fff;
  text-decoration: none;
}

.btn--round,
%btn--round {
  border-radius: $borderRadius;
}

.btn--pill,
%btn--pill {
  border-radius: 44em;
}

.btn--full,
%btn--full {
  width: 100%;
}

/* Button disguised as a link. */

.btn--link,
%btn--link {
  margin: 0;
  padding: 0;
  border: none;
  color: $colorLink;
  background: none;
  line-height: 1;
  &:hover {
    color: $colorLink;
    text-decoration: underline;
    background: none;
  }
}

}//@if
