@if $buttonObject {
/**
 * _buttons.scss
 *
 * Author: Marian Friedmann
 *
 * Usage:
 * <a class="button [button--secondary]" href="#">Button</a>
 * <input type="text" class="button">
 * <button class="button">Button</button>
 */

.button {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  line-height: $baseLineHeight*2;
  display: inline-block;
  margin: 0;
  user-select: none;

  /* Cosmetics */
  padding: 0em $baseUnit;
  color: #fff;
  font-weight: bold;
  background-color: $colorLink;
}

.button:hover{
  background-color: $colorLinkHover;
  color: #fff;
  text-decoration: none;
}

.button--round,
%button--round {
  border-radius: $borderRadius;
}

.button--pill,
%button--pill {
  border-radius: 44em;
}

.button--full,
%button--full {
  width: 100%;
}

}//@if
