@if $mediaObject {
/**
 * _media.scss
 *
 * displays image and text side by side
 *
 * Example markup:
 *
    <div class="media media--small">
      <div class="media__img"></div>
      <div class="media__body"></div>
    </div>
 *
 * use the `.media--rev` modifier to reverse the the image location and put it to the right
 * use the `.media--small` modifier, to decrease the gutter width between image and content
 *
 * for more information have a look at: 
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 *
 */

.media,
%media {
  @include clearfix;
  display: block;
}

  .media__img,
  %media__img {
    float: left;
    @include px-to-rem(margin-right, $baseUnit);

    > img {
      display: block;
    }
  }

  .media__body,
  %media__body {
    overflow: hidden;

    &,
    > :last-child {
      margin-bottom: 0;
    }
  }


.media--rev,
%media--rev {

  > .media__img,
  > %media__img {
    float: right;
    margin-right: 0;
    @include px-to-rem(margin-left, $baseUnit);
  }
}

.media--small {
  .media__img,
  %media__img {
    @include px-to-rem(margin-right, $baseUnit/2);
  }

  &.media--rev,
  &%media--rev {

    > .media__img,
    > %media__img {
      margin-right: 0;
      @include px-to-rem(margin-left, $baseUnit/2);
    }
  }
}

}
