@if $navObject {
/**
 * _nav.scss
 *
 * Author: Marian Friedmann
 *
 * source: Nav abstraction from csswizardry.com/2011/09/the-nav-abstraction
 *
 * Can be used on an `ol` or `ul` and displays the list items horizontally.
 * Extend it with the following subclasses:
 *
 * - nav--stacked    // displays the list items vertically
 * - nav--banner     // centres the list
 * - nav--block      // expands list items clickable areas
 * - nav--fit        // forces the list to occupy the full width of its parent
 * - nav--keywords   // display as a list of keywords
 * - nav--breadcrumb // display as breadcrumbs
 * - nav--parallel   // display nav items with parallel separator
 *
 * Markup:
 *
 * <ul class="nav">
 *   <li><a href=#>Home</a></li>
 *   <li><a href=#>About</a></li>
 *   <li><a href=#>Portfolio</a></li>
 *   <li><a href=#>Contact</a></li>
 * </ul>
 */

.nav {
  list-style: none;
  padding: 0;
  @include px-to-rem(margin, 0 0 $baseUnit 0);
  @include clearfix;
  > li {
    &,
    > a {
      @include display-inline-block;
    }
  }
}

/**
 * 'nav-stacked' displays the list items vertically
 */

.nav--stacked {
  > li {
    display: list-item;
    > a {
      display: block;
    }
  }
}

/**
 * 'nav-banner' centres the list
 */

.nav--banner {
  text-align: center;
}

/**
 * 'nav--block' expands list items clickable areas with padding
 */

.nav--block {
  //line-height:1;
  /* removes unnecessary whitespace */
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  white-space: nowrap;
  > li {
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    > a {
      padding: .75em;
      line-height: 1.5em;
    }
  }
}

/**
 * 'nav--fit' forces the list to occupy the full width of its parent
 */

.nav--fit {
  display: table;
  width: 100%;
  > li {
    display: table-cell;
    text-align: center;
    > a {
      display: block;
    }
  }
}

/**
 * 'nav--keywords' display as a list of keywords
 */

.nav--keywords {
  > li {
    &:after {
      content: "\002C" "\00A0";
    }
    &:last-child:after {
      display: none;
    }
  }
}

/**
 * 'nav--breadcrumbs' display as breadcrumbs
 */

.nav--breadcrumbs {
  > li {
    &:before {
        content: "\27E9" "\00A0";
    }
    &:first-child:before{
      display: none;
    }
  }
}

/**
 * 'nav--parallel' display with parallel separator
 */

.nav--parallel {
  > li {
    @include px-to-rem(padding-left, $baseUnit/4);

    &:before {
      content: "\007C";
      @include px-to-rem(margin-right, $baseUnit/4);
    }

    &:first-child {
      padding: 0;

      &:before {
        display: none;
      }
    }
  }
}

}//@if
