/**
 * style.scss
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 */

$arrowObject: true;
$arrowSize: 20px;

$boxObject: true;
$gridObject: true;
$buttonObject: true;
$constrainObject: true;
$navObject: true;
$widgetObject: true;
$uiListObject: true;

/**
 * basicss
 */

@import '../../../basicss';

/**
 * userstyles
 */

@import 'test';
