/**
 * style.scss
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 */

$prototyping: true;
$arrowObject: true;
$arrowSize: 20px;

$constrainObject: true;

/**
 * basicss
 */

@import 'basicss';

/**
 * userstyles
 */

@import 'test';
