@mixin space($multiplier: 1, $name: '', $scope: '') {
  @if $scope != '' { $scope: -#{$scope}; }
  @if $name  != '' { $name: -#{$name}; }

  .space#{$scope}--top#{$name},
  %space#{$scope}--top#{$name} { 
    margin-top: $baseUnit * $multiplier !important;
    margin-top: toRem($baseUnit * $multiplier) !important;
  }

  .space#{$scope}--left#{$name},
  %space#{$scope}--left#{$name} { 
    margin-left: $baseUnit * $multiplier !important; 
    margin-left: toRem($baseUnit * $multiplier) !important;
  }

  .space#{$scope}--right#{$name},
  %space#{$scope}--right#{$name} { 
    margin-right: $baseUnit * $multiplier !important; 
    margin-right: toRem($baseUnit * $multiplier) !important;
  }

  .space#{$scope}--bottom#{$name},
  %space#{$scope}--bottom#{$name} { 
    margin-bottom: $baseUnit * $multiplier !important; 
    margin-bottom: toRem($baseUnit * $multiplier) !important;
  }
}

@if $spacingHelper {
/**
 * _spacing.scss
 *
 * Author: Marian Friedmann
 *
 * Usage:
 * <div class="space--top  space-tab--top-double">
 *   ...
 * </div>
 *
 */

/**
 * Basic & spacing
 */

@include space(0, 'none');
@include space(0.25, 'quarter');
@include space(0.33333333333, 'third');
@include space(0.5, 'half');
@include space(1, '');
@include space(2, 'double');
@include space(3, 'triple');

@include media($breakTablet) {
  @include space(0, 'none', 'tab');
  @include space(0.25, 'quarter', 'tab');
  @include space(0.33333333333, 'third', 'tab');
  @include space(0.5, 'half', 'tab');
  @include space(1, '', 'tab');
  @include space(2, 'double', 'tab');
  @include space(3, 'triple', 'tab');
}

@include media($breakLaptop) {
  @include space(0, 'none', 'lap');
  @include space(0.25, 'quarter', 'lap');
  @include space(0.33333333333, 'third', 'lap');
  @include space(0.5, 'half', 'lap');
  @include space(1, '', 'lap');
  @include space(2, 'double', 'lap');
  @include space(3, 'triple', 'lap');
}

@include media($breakDesktop) {
  @include space(0, 'none', 'desk');
  @include space(0.25, 'quarter', 'desk');
  @include space(0.33333333333, 'third', 'desk');
  @include space(0.5, 'half', 'desk');
  @include space(1, '', 'desk');
  @include space(2, 'double', 'desk');
  @include space(3, 'triple', 'desk');
}

@include media($breakDesktopWide) {
  @include space(0, 'none', 'desk-wide');
  @include space(0.25, 'quarter', 'desk-wide');
  @include space(0.33333333333, 'third', 'desk-wide');
  @include space(0.5, 'half', 'desk-wide');
  @include space(1, '', 'desk-wide');
  @include space(2, 'double', 'desk-wide');
  @include space(3, 'triple', 'desk-wide');
}

}//@if
