@mixin text($scope: '') {
  @if $scope != '' { $scope: -#{$scope}; }

  .text#{$scope}--left   { text-align: left; }
  .text#{$scope}--right  { text-align: right; }
  .text#{$scope}--center { text-align: center; }
}

@if $typoHelper {
/**
 * _typo.scss
 *
 * Author: Marian Friedmann
 *
 * Alt Text Styles.
 *
 * - text--large
 * - text--small
 * - text--secondary
 * - text--right
 * - text--center
 *
 * Usage:
 * <div class="text--large">
 *   <h1>Lorem Ipsum</h1>
 *   <p>Lorem ipsum</p>
 * </div>
 *
 */

.text--large {
  h1, h2 {
    @include font-size($baseFontSize*6);
  }
  h3, h4 {
    @include font-size($baseFontSize*3);
  }
  h5, h6 {
    @include font-size($baseFontSize*2.375);
  }
  p, ul, ol {
    @include font-size($baseFontSize*1.75);
  }
  @include px-to-rem(margin, $baseUnit*2 0);
}

.text--small {
  h1, h2 {
    @include font-size($baseFontSize*.875);
    margin: 0;
  }
  h3, h4, h5, h6 {
    @include font-size($baseFontSize*.75);
    margin: 0;
  }
  p, ul, ol {
    @include font-size($baseFontSize*.625);
  }
}

.text--secondary {
  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    font-family: $fontSecondary;
  }
}

@include text();
@include media($breakTablet)      { @include text('tab'); }
@include media($breakLaptop)      { @include text('lap'); }
@include media($breakDesktop)     { @include text('desk'); }
@include media($breakDesktopWide) { @include text('desk-wide'); }

}//@if
