@mixin text($scope: '') {
  @if $scope != '' { $scope: -#{$scope}; }

  .text#{$scope}--left   { text-align: left; }
  .text#{$scope}--right  { text-align: right; }
  .text#{$scope}--center { text-align: center; }
}

@if $typoHelper {
/**
 * _typo.scss
 *
 * Author: Marian Friedmann
 *
 * Alt Text Styles.
 *
 * ## alignment 
 * - text--left
 * - text--right
 * - text--center
 *
 * ## utilities 
 * - text--secondary
 * - text--inherit-color
 * - text--no-wrap
 * - text--large
 *
 * Usage:
 * <div class="text--large">
 *   <h1>Lorem Ipsum</h1>
 *   <p>Lorem ipsum</p>
 * </div>
 *
 */

/**
 * Inherit ancestor's text color
 */
.text--inherit-color {
  color: inherit !important;
}

/**
 * Prevent text from wrapping
 */
.text--no-wrap {
  white-space: nowrap !important;
}

/**
 * Display text in secondary font
 */
.text--secondary {
  font-family: $fontSecondary !important;
}

/**
 * Display larger text
 */
.text--large {
  @include font-size($headingSize4, false);
  line-height: 1.5;
}

@include text();
@include media($breakTablet)      { @include text('tab'); }
@include media($breakLaptop)      { @include text('lap'); }
@include media($breakDesktop)     { @include text('desk'); }
@include media($breakDesktopWide) { @include text('desk-wide'); }

}//@if
