@mixin widths($scope: '') {
  @if $scope != '' { $scope: -#{$scope}; }

  .width#{$scope}--0          { width: 0% !important; display: none; }

  .width#{$scope}--1of1,
  .width#{$scope}--2of2,
  .width#{$scope}--3of3,
  .width#{$scope}--4of4,
  .width#{$scope}--5of5,
  .width#{$scope}--6of6,      { width: 100% !important; @include display-inline-block;}

  .width#{$scope}--1of2,
  .width#{$scope}--2of4,
  .width#{$scope}--3of6,
  .width#{$scope}--4of8,
  .width#{$scope}--5of10,
  .width#{$scope}--6of12      { width: 50% !important; @include display-inline-block;}

  .width#{$scope}--1of3,
  .width#{$scope}--2of6,
  .width#{$scope}--3of9,
  .width#{$scope}--4of12      { width: 33.33333% !important; @include display-inline-block;}

  .width#{$scope}--2of3,
  .width#{$scope}--4of6,
  .width#{$scope}--6of9,
  .width#{$scope}--8of12      { width: 66.66666% !important; @include display-inline-block;}

  .width#{$scope}--1of4, 
  .width#{$scope}--2of8, 
  .width#{$scope}--3of12      { width: 25% !important; @include display-inline-block;}
  .width#{$scope}--3of4, 
  .width#{$scope}--6of8, 
  .width#{$scope}--9of12      { width: 75% !important; @include display-inline-block;}

  .width#{$scope}--1of5, 
  .width#{$scope}--2of10      { width: 20% !important; @include display-inline-block;}
  .width#{$scope}--2of5, 
  .width#{$scope}--4of10      { width: 40% !important; @include display-inline-block;}
  .width#{$scope}--3of5, 
  .width#{$scope}--6of10      { width: 60% !important; @include display-inline-block;}
  .width#{$scope}--4of5, 
  .width#{$scope}--8of10      { width: 80% !important; @include display-inline-block;}

  .width#{$scope}--1of6,
  .width#{$scope}--2of12      { width: 16.66666% !important; @include display-inline-block;}
  .width#{$scope}--5of6,
  .width#{$scope}--10of12     { width: 83.33333% !important; @include display-inline-block;}

  .width#{$scope}--1of8       { width: 12.5% !important; @include display-inline-block;}
  .width#{$scope}--3of8       { width: 37.5% !important; @include display-inline-block;}
  .width#{$scope}--5of8       { width: 62.5% !important; @include display-inline-block;}
  .width#{$scope}--7of8       { width: 87.5% !important; @include display-inline-block;}

  .width#{$scope}--1of9       { width: 11.1111111% !important; @include display-inline-block;}
  .width#{$scope}--2of9       { width: 22.2222222% !important; @include display-inline-block;}
  .width#{$scope}--4of9       { width: 44.4444444% !important; @include display-inline-block;}
  .width#{$scope}--5of9       { width: 55.5555555% !important; @include display-inline-block;}
  .width#{$scope}--7of9       { width: 77.7777777% !important; @include display-inline-block;}
  .width#{$scope}--8of9       { width: 88.8888888% !important; @include display-inline-block;}

  .width#{$scope}--1of10      { width: 10% !important; @include display-inline-block;}
  .width#{$scope}--3of10      { width: 30% !important; @include display-inline-block;}
  .width#{$scope}--7of10      { width: 70% !important; @include display-inline-block;}
  .width#{$scope}--9of10      { width: 90% !important; @include display-inline-block;}

  .width#{$scope}--1of12      { width:  8.3333333% !important; @include display-inline-block;}
  .width#{$scope}--5of12      { width: 41.6666666% !important; @include display-inline-block;}
  .width#{$scope}--7of12      { width: 58.3333333% !important; @include display-inline-block;}
  .width#{$scope}--11of12     { width: 91.6666666% !important; @include display-inline-block;}
}

@if $widthHelper {
/**
 * _width.scss
 *
 * Author: Marian Friedmann
 *
 * Usage:
 * <div class="grid">
 *   <div class="grid__item  width--1of1  width-tab--1of3  width-desk--1of4">
 *     ...
 *   </div>
 *   <div class="grid__item  width--1of1  width-tab--2of3  width-desk--3of4">
 *     ...
 *   </div>
 * </div>
 *
 */

@include widths();

@include media($breakTablet) {
  @include widths('tab');
}

@include media($breakLaptop) {
  @include widths('lap');
}

@include media($breakDesktop) {
  @include widths('desk');
}

@include media($breakDesktopWide) {
  @include widths('desk-wide');
}

}//@if
