/**
 * _baseline-font.scss
 *
 * Author: Marian Friedmann
 *
 */

html {
  font-size: $baseFontSize;
  line-height: $lineHeightRatio;
  @include media($breakDesktop) {
    font-size: $baseFontSize*1.125;
  }
}

h1 {
  @include font-size(48px);
  @include px-to-rem(margin, 0 0 $baseUnit);
}

h2 {
  @include font-size(28px);
  @include px-to-rem(margin, 0 0 $baseUnit);
}

h3, h4, h5, h6 {
  @include font-size(22px);
  @include px-to-rem(margin, 0 0 $baseUnit);
}

p {
  @include font-size($baseFontSize);
  @include px-to-rem(margin, 0 0 $baseUnit);
}
