/**
 * _typo.scss
 *
 * Author: Marian Friedmann
 *
 */

html {
  font-family: $fontPrimary;
  font-size: ($baseFontSize / 16px) * 1em;
  line-height: $lineHeightRatio;
}

h1 { @include font-size($headingSize1); }
h2 { @include font-size($headingSize2); }
h3 { @include font-size($headingSize3); }
h4 { @include font-size($headingSize4); }
h5 { @include font-size($headingSize5); }
h6 { @include font-size($headingSize6); }
