/**
 * _retina-image.scss
 *
 * Author: Marius Scheel
 *
 * Usage:
 * .hero {
 *  @include retina-image("../path/to/hero", 200px 400px);
 *
 *  // to use a specific filename:
 *  @include retina-image("../path/to/hero", 200px 400px, "../path/to/retina-hero"); 
 * } 
 *
 * modified version of bourbon's retina-image mixin.
 * The mixin uses a @2x.png retina filename by default.
 * https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_retina-image.scss
 */

@mixin retina-image($filename, $background-size, $extension: png, $retina-filename: null) {
  background-image: url("#{$filename}.#{$extension}");

  @include hdpi {
    @if $retina-filename {
      background-image: url("#{$retina-filename}.#{$extension}");
    }
    @else {
      background-image: url("#{$filename}@2x.#{$extension}");
    }

    background-size: $background-size;
  }
}
