/**
 * _settings.scss
 *
 * Author: Marian Friedmann
 */

/**
 * Default objects
 */

$arrowObject: false!default;
$boxObject: false!default;
$navObject: false!default;
$gridObject: false!default;
$buttonObject: false!default;
$constrainObject: false!default;
$mediaObject: false!default;
$bareListObject: false!default;
$uiListObject: false!default;

/**
 * Default helper
 */

$spacingHelper: true!default;
$typoHelper: true!default;
$widthHelper: true!default;
$layoutHelper: true!default;

/**
 * Default fonts
 */

$fontPrimary: "Helvetica Neue", sans-serif!default;
$fontSecondary: Georgia, serif!default;

/**
 * Default font size
 */

$baseFontSize: 16px!default;
$baseLineHeight: 24px!default;

/**
 * Default headings 
 */

$headingSize1: 48px!default;
$headingSize2: 36px!default;
$headingSize3: 32px!default;
$headingSize4: 24px!default;
$headingSize5: 18px!default;
$headingSize6: 16px!default;

/**
 *  Default spacing
 */

$baseUnit: $baseLineHeight!default;
$lineHeightRatio: $baseLineHeight / $baseFontSize;

/**
 * Default breakpoints
 */

$breakTablet:       481px!default;
$breakLaptop:       721px!default;
$breakDesktop:     1024px!default;
$breakDesktopWide: 1200px!default;

/**
 * Default constrains
 */

$constrainSmall:   380px!default;
$constrainMedium:  480px!default;
$constrainLarge:   720px!default;
$constrainMax:     980px!default;

/**
 * Arrows
 */

$arrowSize: 10px!default;

/**
 * Global Variables 
 */

$borderRadius: 4px!default;
$colorBorder: #CCC!default;
